# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Model checkpoints
*.pt
*.pth
*.ckpt

# OS
.DS_Store

# Logs
*.log